<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="{% static 'monitor/graph.css' %}">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <title>graph page</title>
    <script src="{% static 'monitor/graph.js' %}" type="text/javascript"></script>

</head>
<body>
    <div id="graphcontainer"></div>

    <div id="graphcontainer_type"></div>

    <div id="piecontainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

    <div id="piecontainer_type" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

    <div id="plancontainer"></div>

    <div id="column_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>
</html>